[user]
	name = km-tr
	email = kumagai@bear.tokyo
	signingkey = "{{ (bitwarden "item" "github-signingkey").notes }}"
[url "git@github.com:"]
	insteadOf = "https://github.com/"
[core]
	excludesFile = ~/.gitignore_global
	editor = vim
[push]
	default = current
	autosetupremote = true
[rebase]
	autosquash = true
	autostash = true
[color]
  ui = auto
[fetch]
	prune = true
[pull]
	rebase = merges
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
[gpg]
	format = ssh


