[user]
	name = km-tr
	email = kumagai@bear.tokyo
	signingkey = "{{ (bitwarden "item" "github-signingkey").notes }}"
[url "git@github.com:"]
	insteadOf = "https://github.com/"
[core]
	excludesFile = ~/.gitignore_global
	editor = vim
[push]
	default = current
	autosetupremote = true
[rebase]
	autosquash = true
	autostash = true
[commit]
	gpgsign = true
[color]
  ui = auto
[fetch]
	prune = true
[pull]
	rebase = merges
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
[gpg]
	format = ssh
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[coderabbit]
    machineId = "{{ (bitwarden "item" "coderabbit-machine-id").notes }}"
