{{ if (eq .chezmoi.hostname "km-work") }}
npmScopes:
  @micin-jp:
    npmRegistryServer: 'https://npm.pkg.github.com'
npmRegistries:
  //npm.pkg.github.com:
    npmAuthToken: {{ keyring "github" "npm-token" }}
{{ end }}