init-author-name=km-tr
init-author-email=kumagai@bear.tokyo
init-license=MIT
init-version=0.1.0
engine-strict=true
cache-min=9999999
{{ if (eq .chezmoi.hostname "km-work") }}
//npm.pkg.github.com/:_authToken={{ (bitwardenFields "item" "ff722b50-9edd-48e9-b1de-ae520104d406").npm_token.value }}
{{ end }}
