init-author-name=km-tr
init-author-email=kumagai@bear.tokyo
init-license=MIT
init-version=0.1.0
engine-strict=true
cache-min=9999999
//registry.npmjs.org/:_authToken=8848483e-c8ab-48d4-b7b4-bb0f3fb0c73c
